@import "../mixins/modifier";
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }
  @return $string;
}
@include modifier(d-none) {
  display: none !important;
}
@include modifier(d-block) {
  display: block !important;
}
@include modifier(normal) {
  font-weight: normal !important;
}
@include modifier(bold) {
  font-weight: bold !important;
}
@include modifier(italic, false) {
  font-style: italic;
}
@include modifier(upper) {
  text-transform: uppercase;
}
@include modifier(lnk-abs, false) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@include modifier(txt-lg, false) {
  font-size: 18px;
}
@include modifier(txt-md, false) {
  font-size: 14px;
}
@include modifier(txt-sm, false) {
  font-size: 12px;
}
@include modifier(txt-xs, false) {
  font-size: 10px;
}
