.s-404-page {
  &__l-container {
    margin: 40px auto 80px;
    @include media-breakpoint-up(lg) {
      margin: 50px auto 100px;
    }
  }

  &__ttl {
    margin-bottom: 30px;
  }

  &__list {
    padding-left: 10px;
  }

  &__desc {
    display: flex;
  }

  &__desc:before {
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: currentcolor;
    margin: 10px 8px 0 0;
    flex-shrink: 0;
  }

  &__desc p {
    margin: 0 0 8px;
  }
}
