.s-footer {
  padding-top: 0;
  padding-bottom: 60px;
  text-align: center;

  @include media-breakpoint-up(lg) {
    padding-bottom: 103px;
  }

  &__l-container {
    margin: 60px auto;

    @include media-breakpoint-up(md) {
      margin: 110px auto;
      max-width: 600px;
    }
  }

  &__logo-cont {
    margin: 0 auto 39px;
    width: 94px;
    height: 85px;
    position: relative;
    overflow: hidden;
  }

  &__logo {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  &__heading {
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: $medium-gray;
    text-transform: none;
  }

  &__field {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

  }

  &__input {
    flex: 1 1 100%;
    margin: 0 0 40px 0;
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.2;
    letter-spacing: normal;
    padding-left: 28px;
    border: 1px solid $medium-light-gray;
    height: 69px;    

    &::placeholder {
      color: $medium-dark-gray;
    }

    @include media-breakpoint-up(md) {
      margin: 0 8px 0 0;
    }
  }

  &__form-button.field__button {
    height: 69px;
    width: 100%;
    color: $white;
    border: none;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
   

    &:not(:focus-visible):not(.focused) {
      background-color: $tiffany;
    }

    &:hover {
      cursor: pointer;
    }

    @include media-breakpoint-up(md) {
      width: 126px;
    }
  }
}
