.s-footer {
  text-align: center;

  &__l-container {
    margin: 72px auto 111px;
    max-width: 600px;
  }

  &__logo-cont {
    margin: 0 auto 39px;
    width: 94px;
    height: 85px;
    position: relative;
    overflow: hidden;
  }

  &__logo {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  &__heading {
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: $medium-gray;
    text-transform: none;
  }

  &__field {
    display: flex;
  }

  &__input {
    flex: 1 1 100%;
    margin: 0 8px 0 0;
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.2;
    letter-spacing: normal;
    padding-left: 28px;
    border: 1px solid $medium-light-gray;

    &::placeholder {
      color: $medium-dark-gray;
    }
  }

  &__form-button.field__button {
    height: 69px;
    width: 126px;
    color: $white;
    border: none;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;

    &:not(:focus-visible):not(.focused) {
      background-color: $tiffany;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
