.s-items-banner {

	&__l-grid {
		margin-right: 0;
		margin-left: 0;
	}

	&__col {
		position: relative;
		padding: 0;
	}

	&__col-b {
		position: relative;
		padding: 0 0 100%;
  
		@include media-breakpoint-up(lg) {
			padding: 0 0 32.8%;
		} 		
	}

	&__footer {
		padding: 75px 16px;
		background-color: $medium-black;
		text-align: center;
	}

	&__btn {	
		display: inline-block;	
		color: $white;
		border: solid 1px rgba(255, 255, 255, 0.5);
		padding: 0 55px;
		line-height: 48px;
		font-size: 14px;
		letter-spacing: 2.8px;
		text-transform: uppercase;
		transition: background-color .3s ease;

	}

	&__btn:hover {			
		color: $medium-black;
		text-decoration: none;
		background-color: $white;	
	}


}

.c-block-item {

	&__l-grid {
		margin-right: 0;
		margin-left: 0;
	}
	

	&__col {
		position: relative;
		padding: 0 0 50%;		
	}

	&__img-cont {
		position: relative;
		padding: 0 0 50%;		
	}
}
