<div class="s-brand-banner2">
	<div class="s-brand-banner2__l-grid l-grid {% if section.settings.layout == 'big_image_second' %} s-brand-banner2__l-grid_grid-reverse{% endif %}">
		<div class="s-brand-banner2__col-b l-grid__col_lg-4 ">
			{% render 'c-item-link', link:section.settings.link logo:section.settings.logo image:section.settings.big_image %}		
		</div>		
		<div class="s-brand-banner2__col l-grid__col_lg-4">
			<div class="s-brand-banner2__content">
				{% render 'c-icon-text-banner' %}
			</div>
			{% if section.settings.image != blank %}
				<div class="s-brand-banner2__img-cont">
					<img src="{{ section.settings.image | image_url: width: 533, height: 200 , format: 'pjpg' }}" alt="{{ product.title }}" width="533" height="200"  class="s-brand-banner2__img" loading="lazy">
				</div>
			{% endif %}				
		</div>
		<div class="s-brand-banner2__col-b l-grid__col_lg-4">				
			{% render 'c-item-link', link:section.settings.link logo:section.settings.logo image:section.settings.big_image2 %}			
		</div>
	</div>
	
</div>

{% schema %}
{
	"name": "Brand banner three images",
	"tag": "section",
	"settings": [			
		 {
			"type": "image_picker",
			"id": "big_image",
			"label": "Big Image",
			"info": "Recommended image size 533x600. Retina image size x2 1066x1200."
		 },
		 {
			"type": "select",
			"id": "layout",
			"options": [
			  {
				 "value": "big_image_first",
				 "label": "Big image first"
			  },
			  {
				 "value": "big_image_second",
				 "label": "Big image second"
			  }			  
			],
			"default": "big_image_first",
			"label": "Desktop big image placement",
			"info": "Image first is the default mobile layout."
		 },
		 {
			"type": "image_picker",
			"id": "image",
			"label": "Image",
			"info": "Recommended image size 533x200. Retina imae size x2 1066x400."
		 },
		 {
			"type": "image_picker",
			"id": "logo",
			"label": "Logo Image"			
		 },
		 {
			"type": "url",
			"id": "link",
			"label": "Brand link"
		 },
		 {
			"type": "image_picker",
			"id": "icon",
			"label": "Icon"			
		 },
		 {
			"type": "text",
			"id": "title",
			"label": "Heading"			
		 },
		 {
			"type": "richtext",
			"id": "paragraph",
			"label": "Paragraph"
		 },
		 {
			"type": "image_picker",
			"id": "big_image2",
			"label": "Big Image2",
			"info": "Recommended image size 533x600. Retina image size x2 1066x1200."
		 }				  
 ],
	"presets": [
		{
			"name": "Brand banner three images"
		}
	]
}
{% endschema %}