<div class="s-rich-text">
	<div class="s-rich-text__l-container l-container">
		{% render 'c-icon-text', fontSize: "desc_txt-lg" %}
	</div>	
</div>

{% schema %}
{
	"name": "Icon with text",
	"tag": "section",
	"settings": [
		 {
			"type": "image_picker",
			"id": "icon",
			"label": "Icon",
			"info": "Recommended icon size 52x43. Retina icon size x2 104x86."
		 },
		 {
			"type": "text",
			"id": "title",
			"label": "Heading"			
		 },
		 {
			"type": "richtext",
			"id": "paragraph",
			"label": "Paragraph"
		 }				  
 ],
	"presets": [
		{
			"name": "Icon with text"
		}
	]
}
{% endschema %}