<div class="s-text-slider">
	<div class="s-text-slider__l-container l-container">
		<div class="s-text-slider__swiper swiper">
			<div class="s-text-slider__wrapper swiper-wrapper">
				<div class="s-text-slider__slide swiper-slide">
					<div class="s-text-slider__icon-cont">
						<img src="https://cdn.shopify.com/s/files/1/0611/1831/6732/files/icon-twitter.png?v=1649261761" alt="{{ product.title }}" width="32" height="27"  class="s-text-slider__icon" loading="lazy">
					</div>
					<h2 class="s-text-slider__h2">AOD New York  @aod <span class="s-text-slider__h2-span">/  35 min</span></h2>
					<div class="s-text-slider__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.				
					</div>
				</div>
				<div class="s-text-slider__slide swiper-slide">
					<div class="s-text-slider__icon-cont">
						<img src="https://cdn.shopify.com/s/files/1/0611/1831/6732/files/icon-twitter.png?v=1649261761" alt="{{ product.title }}" width="32" height="27"  class="s-text-slider__icon" loading="lazy">
					</div>
					<h2 class="s-text-slider__h2">AOD New York  @aod <span class="s-text-slider__h2-span">/  35 min</span></h2>
					<div class="s-text-slider__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.				
					</div>
				</div>
				<div class="s-text-slider__slide swiper-slide">
					<div class="s-text-slider__slide">
						<div class="s-text-slider__icon-cont">
							<img src="https://cdn.shopify.com/s/files/1/0611/1831/6732/files/icon-twitter.png?v=1649261761" alt="{{ product.title }}" width="32" height="27"  class="s-text-slider__icon" loading="lazy">
						</div>
						<h2 class="s-text-slider__h2">AOD New York  @aod <span class="s-text-slider__h2-span">/  35 min</span></h2>
						<div class="s-text-slider__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.				
						</div>
					</div>
				</div>
			</div>
			<div class="s-text-slider__pagination swiper-pagination"></div>
		</div>
	</div>
</div>