<div class="l-container">
  <h1>Ui Kit</h1>
  <div class="c-tabs" data-tabs>
    <div class="c-tabs__head">
      <ul class="c-tabs__nav">
        <li class="c-tabs__nav__itm c-tabs__item_active">
          <a data-tab href="#tab1" class="c-tabs__nav__lnk">Base Elements</a>
        </li>
        <li class="c-tabs__nav__itm">
          <a data-tab href="#tab2" class="c-tabs__nav__lnk">Typography</a>
        </li>
        <li class="c-tabs__nav__itm">
          <a data-tab href="#tab3" class="c-tabs__nav__lnk">Buttons</a>
        </li>
        <li class="c-tabs__nav__itm">
          <a data-tab href="#tab4" class="c-tabs__nav__lnk">Forms</a>
        </li>
        <li class="c-tabs__nav__itm">
          <a data-tab href="#tab5" class="c-tabs__nav__lnk">Icons</a>
        </li>
        <li class="c-tabs__nav__itm">
          <a data-tab href="#tab6" class="c-tabs__nav__lnk">Colors</a>
        </li>
        <li class="c-tabs__nav__itm">
          <a data-tab href="#tab7" class="c-tabs__nav__lnk">Modifiers total</a>
        </li>
        <li class="c-tabs__nav__itm">
          <a data-tab href="#tab8" class="c-tabs__nav__lnk">Grid</a>
        </li>
      </ul>
    </div>
    <div class="c-tabs__body">
      <div id="tab1" class="c-tabs__content c-tabs__content_visible">
        <h2>Lists</h2>
        <ul>
          <li>list item</li>
          <li>list item</li>
          <li>list item</li>
          <li>list item</li>
          <li>list item</li>
        </ul>
        <ol>
          <li>list-item</li>
          <li>list-item</li>
          <li>list-item</li>
          <li>list-item</li>
          <li>list-item</li>
        </ol>
      </div>
      <div id="tab2" class="c-tabs__content">
        <div class="txt-font-size">
          <h2>Text font size</h2>
          <div class="name-block-or-element_txt-lg">
            font size 18
            <pre>_txt-lg example name-block-or-element_txt-lg
          </pre>
          </div>
          <div class="name-block-or-element_txt-lg block-or-element_bold">
            font size 18
            <pre>_txt-lg example name-block-or-element_txt-lg name-block-or-element_bold
          </pre>
          </div>
          <div class="">
            font size 16
            <pre>default</pre>
          </div>
          <div class="name-block-or-element_txt-md">
            font size 14
            <pre>_txt-md</pre>
          </div>
          <div class="name-block-or-element_txt-sm">
            font size 12
            <pre>_txt-sm</pre>
          </div>
          <div class="name-block-or-element_txt-xs">
            font size 10
            <pre>_txt-xs</pre>
          </div>
        </div>
        <div class="txt-font">
          <h2>Text font</h2>
          <div class="name-block-or-element_font-base">
            base font
            <pre>_font-base example name-block-or-element_font-base
          </pre>
          </div>
          <div class="name-block-or-element_font-heading block-or-element_font-heading">
            font-heading
            <pre>_font-heading example name-block-or-element_font-heading
          </pre>
          </div>
        </div>
        <div class="txt-state">
          <h2>Text state</h2>
          <div class="name-block-or-element_txt-lg block-or-element_bold">
            font bold
              <pre>_txt-lg example name-block-or-element_txt-lg name-block-or-element_bold
            </pre>
          </div>
          <div class="name-block-or-element_txt-lg block-or-element_bold block-or-element_italic">
            font italic
              <pre>_txt-lg example name-block-or-element_txt-lg name-block-or-element_bold name-block-or-element_italic
            </pre>
          </div>
        </div>
        <div class="txt-state">
          <h2>Heading</h2>
          <pre>tag h1, h2, h4, h5
            or  class="title title_h1",  class="title title_h2" ...
          </pre>
          <div class="title title_h1">title title_h1</div>
          <h1>h1</h1>
          <div class="title title_h2">title title_h2</div>
          <h2>h2</h2>
          <div class="title title_h3">title title_h3</div>
          <h2>h3</h2>
          <div class="title title_h4">title title_h4</div>
          <h4></h4>
          <div class="title title_h5">title title_h5</div>
          <h5>h5</h5>
        </div>
        <div class="txt-state">
          <h2>ttl</h2>
          <div class="ttl ttl_h1">ttl ttl_h1</div>
          <div class="ttl ttl_h2">ttl ttl_h2</div>
          <div class="ttl ttl_h3">ttl ttl_h3</div>
        </div>
      </div>
      <div id="tab3" class="c-tabs__content">
        <h2>Buttons</h2>
        <div class="l-grid">
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-3">
            <div class="txt txt_bold">btn default </div>
            <a href="#" class="btn btn_default"> btn_default</a>
            <br><br>
            <button type="button" class="btn btn_default"> btn_default</button>
            <br><br>
            <div class="txt txt_bold">btn black </div>
            <a href="#" class="btn btn_default btn_black"> btn_black</a>
            <br><br>
            <button type="button" class="btn btn_default btn_black btn_black-grey"> btn_black-2</button>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-3">
            <div class="txt txt_bold">btn fluid </div>
            <a href="#" class="btn btn_default btn_fluid"> btn_fluid</a>
            <br><br>
            <button type="button" class="btn btn_default btn_fluid"> btn_fluid</button>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-3">
            <div class="txt txt_bold">btn sm </div>
            <a href="#" class="btn btn_default btn_sm"> btn_sm</a>
            <br><br>
            <button type="button" class="btn btn_default btn_sm btn_border-rad-none"> btn_border-rad-none</button>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-3">
            <div class="txt txt_bold">btn disabled </div>
            <a href="#" class="btn btn_disabled"> btn_disabled</a>
            <br><br>
            <button type="button" class="btn btn_disabled"> btn_disabled</button>
          </div>
        </div>
        <br><br><br><br>
      </div>
      <div id="tab4" class="c-tabs__content" >
        <div class="l-grid">
          <div class="l-grid__col l-grid__col-6">
            <h2>Form Example</h2>
            <pre>c-field</pre>
            <form action="/" id="example_form" novalidate>
              <pre>__input example c-field__input</pre>
              <div class="c-field">
                <label>Field text</label>
                <input type="text" class="c-field__input" name="text" value="" placeholder="Example field text" aria-label="Aria label" required>
                <div class="c-field__error">Invalid field value</div>
              </div>
              <pre>_is-error example c-field__input c-field__input_is-error</pre>
              <div class="c-field">
                <label>Field text error</label>
                <input type="text" class="c-field__input c-field__input_is-error" name="text_error" value="" placeholder="Example field text error" aria-label="Aria label">
                <div class="c-field__error">Invalid field value</div>
              </div>
              <pre>__checkbox example c-field__checkbox</pre>
              <div class="c-field">
                <label for="checkbox1">Field checkbox</label>
                <input class="c-field__checkbox" type="checkbox" aria-label="checkbox1" name="checkbox1" >
                <div class="c-field__error">Invalid field value</div>
              </div>
              <div class="c-field">
                <label for="checkbox2">Field checkbox checked</label>
                <input class="c-field__checkbox" type="checkbox" aria-label="checkbox2" name="checkbox2" checked >
                <div class="c-field__error">Invalid field value</div>
              </div>
              <div class="c-field">
                <label for="checkbox3">Field checkbox checked disabled</label>
                <input class="c-field__checkbox" type="checkbox" aria-label="checkbox3" name="checkbox3" checked disabled >
                <div class="c-field__error">Invalid field value</div>
              </div>
              <div class="c-field">
                <label for="checkbox4">Field checkbox disabled</label>
                <input class="c-field__checkbox" type="checkbox" aria-label="checkbox4" name="checkbox4" disabled >
                <div class="c-field__error">Invalid field value</div>
              </div>
              <div class="c-field">
                <label for="checkbox4">Field checkbox error empty</label>
                <input class="c-field__checkbox c-field__checkbox_is-error" type="checkbox" aria-label="checkbox4" name="checkbox4" >
                <div class="c-field__error">Invalid field value</div>
              </div>
              <pre>__checkbox example c-field__radio</pre>
              <div class="c-field">
                <label for="radio1">Field radio</label>
                <input class="c-field__radio" type="radio" aria-label="radio1" name="radio1" value="one">
                <input class="c-field__radio" type="radio" aria-label="radio1" name="radio1" value="two">
                <div class="c-field__error">Invalid field value</div>
              </div>
              <div class="c-field">
                <label for="radio2">Field radio checked</label>
                <input class="c-field__radio" type="radio" aria-label="radio2" name="radio2" checked >
                <div class="c-field__error">Invalid field value</div>
              </div>
              <div class="c-field">
                <label for="radio3">Field radio checked disabled</label>
                <input class="c-field__radio" type="radio" aria-label="radio3" name="radio3" checked disabled >
                <div class="c-field__error">Invalid field value</div>
              </div>
              <div class="c-field">
                <label for="radio4">Field radio disabled</label>
                <input class="c-field__radio" type="radio" aria-label="radio4" name="radio4" disabled >
                <div class="c-field__error">Invalid field value</div>
              </div>
              <pre>__select example c-field__select</pre>
              <div class="c-field">
                <label for="select">Field default select</label>
                <select name="select-example" id="select" aria-label="select-example" class="c-field__select">
                  <option value="">Select option</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 2</option>
                  <option value="4">Option 4</option>
                  <option value="5">Option 5</option>
                </select>
              </div>
              <pre>__select example c-field__select data-custom-select</pre>
              <div class="c-field">
                <label for="select_custom">Field custom select</label>
                <select name="select-example" id="select_custom" data-custom-select aria-label="select-example" class="c-field__select">
                  <option value="">Select option</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 2</option>
                  <option value="4">Option 4</option>
                  <option value="5">Option 5</option>
                </select>
              </div>
              <div class="c-field">
                <pre>__quantity example c-field__quantity</pre>
                <quantity-input class="c-field__quantity">
                  <button class="c-field__quantity_button no-js-hidden" name="minus" type="button">
                    {% render 'icon-ui', icon: 'shevron' %}
                  </button>
                  <input class="c-field__quantity_input"
                         type="number"
                         name="quantity"
                         id="Quantity"
                         min="1"
                         value="1"
                         form="example_form"
                  >
                  <button class="c-field__quantity_button no-js-hidden" name="plus" type="button">
                    {% render 'icon-ui', icon: 'shevron' %}
                  </button>
                </quantity-input>
              </div>
            </form>
          </div>
          <div class="l-grid__col l-grid__col-6">
            <h2>Form Validation Example</h2>
            <pre>Form validate example: with js validate: data-js-validate novalidate</pre>
            <form action="/" id="form-validate" method="post" data-js-validate novalidate>
              <div class="c-field">
                <label for="form-validate-text-ex">Field Text</label>
                <input type="text" value="" class="c-field__input" id="form-validate-text-ex" name="text-field" placeholder="Example required text" required >
                <div class="c-field__error c-field__error_padding-sm">Invalid field value</div>
              </div>
              <div class="c-field">
                <label for="form-validate-password">Field Password</label>
                <input type="password" value="" class="c-field__input" id="form-validate-password" name="password-field" pattern="^[A-Za-z0-9]\w{5,}$"  placeholder="Example required password" required >
                <div class="c-field__error c-field__error_padding-sm">Invalid field value</div>
              </div>
              <div class="c-field">
                <label for="form-validate-email">Field Email</label>
                <input type="email" value="" class="c-field__input" id="form-validate-email" pattern=".+@.+\..+" pattern-flag="i" name="email-field" placeholder="Example required email" required >
                <div class="c-field__error c-field__error_padding-sm">Invalid field value</div>
              </div>
              <div class="c-field">
                <label for="form-validate-checkbox">Field Checkbox required</label>
                <input type="checkbox" value="" id="form-validate-text" class="c-field__checkbox" name="checkbox-checkbox" required >
                <div class="c-field__error c-field__error_padding-sm">Invalid field value</div>
              </div>
              <div class="c-field">
                <label>Field Checkbox radio:</label>
                <label for="form-validate-radio1">Value 1</label>
                <input type="radio" value="1" id="form-validate-radio1" class="c-field__radio" name="radio-field" checked >
                <label for="form-validate-radio2">Value 2</label>
                <input type="radio" value="2" id="form-validate-radio2"  class="c-field__radio" name="radio-field"  >
              </div>
              <div class="c-field">
                <label for="form-validate-textarea">Textarea field</label>
                <textarea name="textarea-field" id="form-validate-textarea" class="c-field__textarea" cols="30" placeholder="Your message" rows="3" required></textarea>
                <div class="c-field__error">Invalid field value</div>
              </div>
              <div class="c-field">
                <label for="select_custom">Custom select field</label>
                <select name="select-example" id="select-custom" data-custom-select aria-label="select-example" class="c-field__select">
                  <option value="">Select option</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 2</option>
                  <option value="4">Option 4</option>
                  <option value="5">Option 5</option>
                </select>
              </div>
              <div class="c-field">
                <button class="btn btn_default btn_fluid" type="submit">Submit</button>
              </div>
            </form>
            <h2>News Letter Example</h2>
            <div class="c-newsletter">
              <form method="post" action="/contact#ContactFooter" id="ContactFooter" accept-charset="UTF-8" class="с-newsletter-form " >
                <input type="hidden" name="form_type" value="customer">
                <input type="hidden" name="utf8" value="✓">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="с-newsletter-form__field-wrapper">
                  <div class="c-field">
                    <input id="NewsletterForm--s-footer" type="email" name="contact[email]" data-js-validate="" pattern=".+@.+\..+" pattern-flag="i" class="c-field__input c-field__input_is-succeed" value="" aria-required="true" autocorrect="off" autocapitalize="off" autocomplete="email" placeholder="Your Email..." required="">
                    <div class="c-field__error c-field__error_padding c-field__error_succeed">
                      <div class="c-field__error-text">Thank you! Welcome to our newsletter</div>
                      <div class="c-field__close">
                        {% render 'icon-ui', icon: 'close-red', class: 'c-field__icon' %}
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="с-newsletter-form__button btn btn_default" name="commit" id="Subscribe" aria-label="Subscribe">
                    Subscribe
                  </button>
                </div>
              </form>
            </div>
            <br>
            <div class="c-newsletter">
              <form method="post" action="/contact#ContactFooter" id="ContactFooter" accept-charset="UTF-8" class="с-newsletter-form " >
                <input type="hidden" name="form_type" value="customer">
                <input type="hidden" name="utf8" value="✓">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="с-newsletter-form__field-wrapper">
                  <div class="c-field">
                    <input id="NewsletterForm--s-footer" type="email" name="contact[email]" data-js-validate="" pattern=".+@.+\..+" pattern-flag="i" class="c-field__input c-field__input_is-error" value="" aria-required="true" autocorrect="off" autocapitalize="off" autocomplete="email" placeholder="Your Email..." required="">
                    <div class="c-field__error c-field__error_padding c-field__error_busy">
                      <div class="c-field__error-text">Sorry, the specified email is already subscribed</div>
                      <div class="c-field__close">
                        {% render 'icon-ui', icon: 'close-red', class: 'c-field__icon' %}
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="с-newsletter-form__button btn btn_default" name="commit" id="Subscribe" aria-label="Subscribe">
                    Subscribe
                  </button>
                </div>
              </form>
            </div>
            <br>
            <div class="c-newsletter">
              <form method="post" action="/contact#ContactFooter" id="ContactFooter" accept-charset="UTF-8" class="с-newsletter-form " >
                <input type="hidden" name="form_type" value="customer">
                <input type="hidden" name="utf8" value="✓">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="с-newsletter-form__field-wrapper">
                  <div class="c-field">
                    <input id="NewsletterForm--s-footer" type="email" name="contact[email]" data-js-validate="" pattern=".+@.+\..+" pattern-flag="i" class="c-field__input c-field__input_is-error" value="" aria-required="true" autocorrect="off" autocapitalize="off" autocomplete="email" placeholder="Your Email..." required="">
                    <div class="c-field__error">Enter an email address to subscribe</div>
                  </div>
                  <button type="submit" class="с-newsletter-form__button btn btn_default" name="commit" id="Subscribe" aria-label="Subscribe">
                    Subscribe
                  </button>
                </div>
              </form>
            </div>
            <br>
            <div class="c-newsletter">
              <form method="post" action="/contact#ContactFooter" id="ContactFooter" accept-charset="UTF-8" class="с-newsletter-form " >
                <input type="hidden" name="form_type" value="customer">
                <input type="hidden" name="utf8" value="✓">
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="с-newsletter-form__field-wrapper">
                  <div class="c-field">
                    <input id="NewsletterForm--s-footer" type="email" name="contact[email]" data-js-validate="" pattern=".+@.+\..+" pattern-flag="i" class="c-field__input c-field__input_is-error" value="" aria-required="true" autocorrect="off" autocapitalize="off" autocomplete="email" placeholder="Your Email..." required="">
                    <div class="c-field__error">Valid Email is required</div>
                  </div>
                  <button type="submit" class="с-newsletter-form__button btn btn_default" name="commit" id="Subscribe" aria-label="Subscribe">
                    Subscribe
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="tab5" class="c-tabs__content">
        <h2>Icons</h2>
        {% assign icons = 'youtube, twitter, search, plus, minus, menu, jar, instagram, info, delete, flask, comment, cart, faceboock, arrow-down' %}
        {% assign icons = icons | split: ', ' %}
        <div class="l-grid">
          {% for icon in icons %}
            <div class="l-grid__col l-grid__col_auto">
              {% render 'icon-ui', icon: icon, class: 'icon_txt-red icon_txt-lg' %}
              <div class="ttl ttl_t3">
                {{ icon }}
              </div>
            </div>
          {% endfor %}
        </div>
        <pre>the icon size is set by the font size, color is the current text color  render 'icon-ui', icon: icon, class: ''  </pre>
      </div>
      <div id="tab6" class="c-tabs__content">
        <h2>Colors</h2>
        <div class="l-grid">
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-4">
            <div class="circle circle_bg-red"></div>
            <pre>_bg-red or color _txt-red</pre>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-4">
            <div class="circle circle_bg-light-green"></div>
            <pre>_bg-light-green or color _txt-light-green</pre>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-4">
            <div class="circle circle_bg-dark-green"></div>
            <pre>_bg-dark-green or color _txt-dark-green</pre>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-4">
            <div class="circle circle_bg-blue"></div>
            <pre>_bg-blue or color _txt-blue</pre>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-4">
            <div class="circle circle_bg-dark-blue"></div>
            <pre>_bg-dark-blue or color _txt-dark-blue</pre>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-4">
            <div class="circle circle_bg-yellow"></div>
            <pre>_bg-yellow or color _txt-yellow</pre>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-4">
            <div class="circle circle_bg-light-yellow"></div>
            <pre>_bg-light-yellow or color _txt-light-yellow</pre>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-4">
            <div class="circle circle_bg-black"></div>
            <pre>_bg-black or color _txt-black</pre>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-4">
            <div class="circle circle_bg-light-black"></div>
            <pre>_bg-light-black</pre>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-4">
            <div class="circle circle_bg-dark-gray"></div>
            <pre>_bg-dark-gray or color _txt-dark-gray</pre>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-4">
            <div class="circle circle_bg-gray"></div>
            <pre>_bg-gray or color _txt-gray</pre>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-4">
            <div class="circle circle_bg-medium-gray"></div>
            <pre>_bg-medium-gray or color _txt-medium-gray</pre>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-4">
            <div class="circle circle_bg-light-gray"></div>
            <pre>_bg-light-gray or color _txt-light-gray</pre>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-4">
            <div class="circle circle_bg-extra-light-gray"></div>
            <pre>_bg-extra-light-gray or color _txt-extra-light-gray</pre>
          </div>
          <div class="l-grid__col l-grid__col_xs-6 l-grid__col_md-4">
            <div class="circle circle_bg-white"></div>
            <pre>_bg-white or color _txt-white</pre>
          </div>
        </div>
      </div>
      <div id="tab7" class="c-tabs__content">
        <h2>Modifiers</h2>
        <p class="_txt-red">Modifiers that were shown earlier may not be present here</p>
        <div class="txt txt_bold">bold <pre>_bold</pre></div>
        <div class="txt  txt_lg-bold">bold  desktop <pre>_lg-bold</pre></div>
        <div class="txt txt_txt-red">red</div>
        <div class="txt txt_txt-light-green">light-green</div>
        <div class="txt txt_txt-dark-green">dark-green</div>
        <div class="txt txt_txt-blue">blue</div>
        <div class="txt txt_txt-dark-blue">dark-blue</div>
        <div class="txt txt_txt-yellow">yellow</div>
        <div class="txt txt_txt-light-yellow">light-yellow</div>
        <div class="txt txt_txt-black">black</div>
        <div class="txt txt_txt-dark-gray">dark-gray</div>
        <div class="txt txt_txt-gray">gray</div>
        <div class="txt txt_txt-medium-gray">medium-gray</div>
        <div class="txt txt_txt-light-gray">light-gray</div>
        <div class="txt txt_txt-extra-light-gray">extra-light-gray</div>
        <div class="txt txt_txt-white">white</div>
        <pre>
has prefix (-sm, -md, -lg ...)
example prefix _sm-upper min-width: 768px
_upper (text-transform: uppercase;  )
_none (display:none;)
_block (display:block;)
_bold ( font-weight: bold;)
_normal ( font-weight: normal;)
_bg-red
_bg-light-green
_bg-dark-green
_bg-blue
_bg-dark-blue (background-color: dark-blue;)
_bg-yellow (background-color: yellow;)
_bg-light-yellow (background-color: light-yellow;)
_bg-black (background-color: black;)
_bg-dark-gray (background-color: dark-gray;)
_bg-gray (background-color: gray;)
_bg-medium-gray (background-color: medium-gray;)
_bg-light-gray (background-color: light-gray;)
_bg-light-gray (background-color: light-gray;)
_bg-white (background-color: white;)
no-prefix
_txt-red
_txt-light-green
_txt-dark-green
_txt-blue
_txt-dark-blue (color: dark-blue;)
_txt-yellow (color: yellow;)
_txt-light-yellow (color: light-yellow;)
_txt-black (color: black;)
_txt-dark-gray (color: dark-gray;)
_txt-gray (color: gray;)
_txt-medium-gray (color: medium-gray;)
_txt-light-gray (color: light-gray;)
_txt-light-gray (color: light-gray;)
_txt-white (color: white;)
_font-base (font-family: $font-roboto;)
_font-heading (font-family: $font-roboto-condensed;)
        </pre>
      </div>
      <div id="tab8" class="c-tabs__content">
        <h2>Grid</h2>
        <div class="l-grid">
          <div class="l-grid__col">1</div>
          <div class="l-grid__col">2</div>
          <div class="l-grid__col">3</div>
          <div class="l-grid__col">5</div>
          <div class="l-grid__col">6</div>
          <div class="l-grid__col">7</div>
          <div class="l-grid__col">8</div>
          <div class="l-grid__col">9</div>
          <div class="l-grid__col">10</div>
          <div class="l-grid__col">11</div>
          <div class="l-grid__col">12</div>
        </div>
        <pre>
l-grid__col_auto
l-grid__col_number
l-grid__col_sm-number >  576px
l-grid__col_md-number >  768px
l-grid__col_lg-number >  992px
l-grid__col_xl-number > 1200
l-grid_order-first
l-grid_order-last
l-grid_order-number
l-grid_order-number
l-grid_prefix-media_order-number
l-grid_prefix-offset
        </pre>
      </div>
    </div>
  </div>
</div>
<script>

</script>
<style>
  .circle {
    width: 77px;
    height: 77px;
    border-radius: 100%;
    margin: 0 auto 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }
  pre {
    padding: 10px;
    background: #F1F3F4;
    border: 1px solid #CACDD1;
    text-indent: 0;
    white-space: pre-wrap;
    word-break: break-word;
  }
  .c-tabs__head{overflow-y:hidden;overflow-x:auto}.c-tabs__head::-webkit-scrollbar{width:0}.c-tabs__nav{list-style:none;margin:0;padding:0;display:flex}.c-tabs__nav__itm{padding-right:26px}@media (min-width:768px){.c-tabs__nav__itm{padding-right:32px}}@media (min-width:992px){.c-tabs__nav__itm{padding-right:48px}}.c-tabs__item_active .c-tabs__nav__lnk{color:#0a8900}.c-tabs__item_active .c-tabs__nav__lnk:after{opacity:1}.c-tabs__nav__lnk{font:bold 16px/1 "Roboto Condensed",Arial,sans-serif;transition:color .3s ease;display:block;padding-bottom:14px;position:relative;color:#4d5256;text-transform:uppercase;white-space:nowrap}@media (min-width:768px){.c-tabs__nav__lnk{font-size:20px}}@media (min-width:992px){.c-tabs__nav__lnk{font-size:26px;padding-bottom:16px}}.c-tabs__nav__lnk:after{content:"";position:absolute;width:100%;left:0;bottom:0;height:4px;border-radius:2px;background:currentcolor;opacity:0;transition:opacity .3s ease}.c-tabs__nav__lnk:hover{text-decoration:none;color:#9ed15b}.c-tabs__body{position:relative;overflow:hidden;margin-top:48px}@media (min-width:768px){.c-tabs__body{margin-top:46px}}@media (min-width:992px){.c-tabs__body{margin-top:82px}}.c-tabs__content{position:absolute;top:0;left:0;width:100%;visibility:hidden;opacity:0;transition:opacity .3s ease}.c-tabs__content_visible{opacity:1;visibility:visible;position:static}
</style>
